*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat';
}
nav{
    width: 1322px;
    height: 104px;
    left: 59px;
    gap: 324px;
    border-radius: 34px 0px 0px 0px;
    opacity: 0px;

}

